{% extends "base.html" %}

{% block content %}


<div class="container">
    {% include "nav.html" %}

    <div class="row mt-4">
        <h3>Lista de Contatos</h3>

        <form action="" method="get" class="row  m-0">
            <div class="col-10">
                <input type="text" name="pesquisa" class="form-control" placeholder="Pesquisar Contato">
            </div>
            <div class="col-2 m-0">
                <button type="submit" class="btn btn-primary w-100 m-0">Pesquisar</button>
            </div>
        </form>
        <div class="col-12">
            <table class="table mt-4 table-striped  shadow-lg">
                <thead>
                    <tr class="">
                        <th class="p-3">Nome</th>
                        <th class="p-3">Email</th>
                        <th class="p-3">Assunto</th>
                        <th class="p-3">Respondido</th>
                    </tr>
                </thead>

                <body>
                    {% for linha in context['dados'] %}
                    <tr>
                        <td class="p-3 align-items-center">{{ linha.nome }}</td>
                        <td class="p-3 align-items-center">{{ linha.email }}</td>
                        <td class="p-3 align-items-center">{{ linha.assunto }}</td>
                        <td class="p-3 align-items-center">
                            {% if linha.respondido == 1 %}
                            SIM
                            {% else %}
                            NÃO
                            {% endif%}
                        </td>
                        <td class="p-3 align-items-center">
                            <a href="{{url_for('contatoDetalhes', id = linha.id)}}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none" stroke="#3674B5" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="lucide lucide-send-icon lucide-send">
                                    <path
                                        d="M14.536 21.686a.5.5 0 0 0 .937-.024l6.5-19a.496.496 0 0 0-.635-.635l-19 6.5a.5.5 0 0 0-.024.937l7.93 3.18a2 2 0 0 1 1.112 1.11z" />
                                    <path d="m21.854 2.147-10.94 10.939" />
                                </svg>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </body>
            </table>
        </div>
    </div>
</div>
{% endblock %}