{% extends "base.html" %}

{% block content %}

{% include "nav.html" %}
       <div class="">

            <div class="row mt-4">
                <h3>Envio de Usuários</h3>
                <form action="" method="post" class="row mt-4 p-4 round border shadow">
                    {{form.csrf_token}}
                    {{form.hidden_tag()}}

                    {{form.email.label(class="mt-3")}}
                    {{form.email(class="form-control")}}

                    {{form.senha.label(class="mt-3")}}
                    {{form.senha(class="form-control")}}

                    {{form.btnSubmit(class="btn btn-primary col-12 mt-4")}}
                </form>
                <a href="{{url_for('cadastroUsuario')}}">Cadastrar-se</a>
            </div>
       </div>

{% endblock %}