{% extends "base.html" %}

{% block content %}
    <header>
        <div class="">
            <div class="">
                <h1>Contatos - Flask</h1>
            </div>
            
            <div class="">
                <a href="{{url_for('homepage')}}" class="">Home</a>
                <a href="{{url_for('cadastroContato')}}" class="">Cadastrar Contatos</a>
                <a href="{{url_for('contatoLista')}}" class="">Lista de Contatos</a>
                <a href="{{url_for('PostNovo')}}"class="link">Novo Post</a>
                <a href="{{url_for('PostLista')}}"class="link">Lista de Post</a>
                {% if current_user.is_authenticated %}
                <a href="" class="Cadastro-User-Logado"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#3674B5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-user-icon lucide-circle-user"><circle cx="12" cy="12" r="10"/><circle cx="12" cy="10" r="3"/><path d="M7 20.662V19a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v1.662"/></svg> {{current_user.nome}} {{current_user.sobrenome}}</a>
                <a href="{{url_for('logout')}}" class="">Sair</a>
                {% else %}
                <a href="{{url_for('login')}}" class="">Entrar/Cadastrar</a>
                {% endif %}
            </div>
        </div>
    </header>

{% endblock %}