{% extends 'base.html' %}


{% include 'nav.html' %}
{% block content %}
<div class="container">
    <div class="row mt-4">
        <h3>Post Detail</h3>


        <div class="col-md-12 mt-4">
            <h4>{{ obj.mensagem }}</h4>
            <p>Posted on: {{ obj.data_criacao }}</p>
        </div>


        <div class="col-md-12 mt-4">
            <h5>Comentario</h5>
            {% for comentario in obj.comentario %}
                        <p>{{ comentario.text }}</p>
                        <p>data de postagem {{ comentario.data }}</p>
            {% endfor %}
        </div>


        <div class="col-md-12 mt-4">
            <h5>Adicionar comentario</h5>
            <form method="POST">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.text.label(class="form-label") }}
                    {{ form.text(class="form-control") }}
                </div>
                <div class="form-group mt-2">
                    {{ form.submit(class="btn btn-primary btnEnviar") }}
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}