{% extends 'base.html' %}

{%include 'nav.html' %}
{% block content %}
   <div class="container">
        <div class="row mt-4">
        <h3>Post</h3>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="col-12 border rounded p-4 shadow">
                    {{post.mensagem}}
                    <hr>
                    <img src="{{url_for('static', filename='img/{}'.format(post.imagem))}}" style="max-width: 300px;;">
                </div>
            </div>
            <div class="col-12 mt-3">
                <form action="" method="post" class="row mt-4 p-4 round border shadow">
                    {{form.csrf_token}}
        
                    {{form.comentario.label()}}
                    {{form.comentario(class="form_control")}}
        
                    {{form.btnSubmit(class="btn btn-primary col-12 mt-3 btnEnviar")}}
                </form>
            </div>
            <hr>
            <div class="col-12 mt-4 border rounded shadow p-3 mb-4">
                <h3 class="mb-4">Comentários</h3>
                {% for c in post.comentarios %}
                <p id="comentario">
                    <b>{{c.autor.nome}} {{c.autor.sobrenome}} ( {{c.data_criacao.strftime('%d/%m/%Y')}} )</b> <br>
                    {{c.comentario}}
                </p>
                <hr>
                {% endfor %}
            </div>
        </div>
   </div>
{% endblock %}